.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.container img {
    width: 130px;
    height: 130px;
}

.container ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 45px;
}

.container ul li{
    font-size: 1.25rem;
    color: var(--yellow);
}

.container ul li:hover {
    color: blueviolet;
    cursor: pointer;
    font-weight: bold;
}